<mat-toolbar class="toolbar-header">
    <img class="img-logo" src="../../assets/logo.png" alt="" height="100px">
</mat-toolbar>
<mat-toolbar style="background-color: white;">
    <tr class="toolbar-tab" style="margin: 0 auto;">
        <td class="item-tab">
            <img class="icon-tab" src="../assets/icon/home.png" alt="" srcset="">
            <a routerLink="/home" >Home</a>
        </td>
        <td class="item-tab">
            <img class="icon-tab" src="../assets/icon/location.png" alt="" srcset="">
            <a routerLink="/popular-destinations">Popular destinations</a>
        </td>
        <td class="item-tab">
            <img class="icon-tab" src="../assets/icon/trending.png" alt="" srcset="">
            <a routerLink="/best-sellers">Bestsellers</a>
        </td>
    </tr>
</mat-toolbar>



